* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    font-family: 'arial', sans-serif;
    color: #333;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#feh-sleek-cards {
    width: 800px;
}
    #cards-wrapper {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 225px 325px;
        gap: 20px;
    }
        .card {
            color: white;
            padding: 20px;
            border-radius: 7px;
            text-decoration: none;
            position: relative;
            overflow: hidden;
            /* background: #34A0A4; */
        }
        .card-1 { grid-area: 1 / 1 / 1 / 5; }
        .card-2 { grid-area: 1 / 5 / 2 / 7; }
        .card-3 { grid-area: 2 / 1 / 3 / 3; }
        .card-4 { grid-area: 2 / 3 / 3 / 5; }
        .card-5 { grid-area: 2 / 5 / 3 / 7; }

        .card p { line-height: 26px; }
        .card-1 p { width: 50%; }
   


    
    .orbs {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .card-1 .orbs { background: #0b4a4c; }
    .card-2 .orbs { background: #0d305a; }
    .card-3 .orbs { background: #7a5223; }
    .card-4 .orbs { background: #7e1717; }
    .card-5 .orbs { background: #661364; }

	.card-content {
      	z-index: 1;
      	position: relative;
      	display: flex;
		flex-direction: column;
      	justify-content: space-between;
		height: 100%;
    }
    
    .orb {
      position: absolute;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
      mix-blend-mode: soft-light;
      filter: blur(12px);
    }